{% load static %}
<!doctype html>
<html>
<div class="footer  text-white p-3

">

  <h1 class="w-100 my-3 pl-5">Civic Tech Hub</h1>
  <div class="d-flex justify-content-between mt-4">
    <section>
      <ul class=" pl-5  row ">
        <div class="col">
          <li class="list-unstyled ">Register a group</li>
          <li class="list-unstyled "> Find a group</li>
          <li class="list-unstyled ">About</li>
        </div>
        <div class="col">
          <li class="list-unstyled ">Contact Us</li>
          <li class="list-unstyled ">FAQ</li>
          <li class="list-unstyled ">Legal</li>
        </div>
      </ul>
    </section>
    <section class="socialfooter pr-5">
      <ul>
        <li class="list-unstyled"> <a href="https://github.com/civictechhub">Github</a>
        </li>
        <li class="list-unstyled"> <a href="https://www.instagram.com/civictechhub/">
            Instagram
          </a></li>
        <li class="list-unstyled"> <a href="https://www.facebook.com/civictechhub">
            Facebook
          </a></li>
        <li class="list-unstyled"> <a href="https://twitter.com/civictechhub">Twitter</a>
        </li>
      </ul>
    </section>
  </div>
</div>

</html>
