{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% include "homepage/head.html" %}
</head>
<body>
  <div class="wrapper container-fluid">
    <div class="navbar" id="navbar">
      {% include "homepage/navbar.html" %}
    </div>


    <div class="content">
      <div class="hero_container">
        <div class="hero_content">
          <div class="hero_top">

            <div class="subheadline">
              <div class="head_bold">
                Together we can survive this crisis
              </div>
              <div class="head_normal">
                Search the largest database of projects and organizations dedicated to fighting COVID-19
              </div></div>
              <div class="">
                <img class="hero_img" src="{% static "img/pandemic.svg" %}" alt="pandemic">
              </div>
            </div>
            <div class="search_bar">
              {% include "homepage/search_bar.html" %}
            </div>
          </div>
        </div>

        <div class="browse_container">
          <form  id="category_srch_form" action="{% url 'es_test_view' %}"></form>
          <div class="browse_header">Browse by category</div>
          <div class="categories">

            <a href="#" id="cat_bttn" onclick="submit_by_category(this); return false;" value="technology" class="category_bttn"> <img src="{% static "img/tech.svg" %}" alt=""><span>Tech</span></a>
            <a href="#" id="cat_bttn" onclick="submit_by_category(this); return false;" value="medical" class="category_bttn"> <img src="{% static "img/medical.svg" %}" alt=""><span>Medical</span></a>
            <a href="#" id="cat_bttn" onclick="submit_by_category(this); return false;" value="safe at home" class="category_bttn"> <img src="{% static "img/safehome.svg" %}" alt=""><span>Safe at Home</span></a>
            <a href="#" id="cat_bttn" onclick="submit_by_category(this); return false;" value="finance" class="category_bttn"> <img src="{% static "img/finance.svg" %}" alt=""><span>Finance</span></a>
            <a href="#" id="cat_bttn" onclick="submit_by_category(this); return false;" value="mental health" class="category_bttn"> <img src="{% static "img/mentalhealth.svg" %}" alt=""><span>Mental Health</span></a>
            <a href="#" id="more_bttn" onclick="" value="more" class="category_bttn"> <img src="{% static "img/more.svg" %}" alt=""><span>More</span></a>

          </div>
        </div>

        <div class="featured_container">
          <div class="featured_header">Featured projects</div>
          <div class="featured">

            <a href="" class="featured_bttn"> <img src="{% static "img/tech" %}" alt=""><span></span></a>
            <a href="" class="featured_bttn"> <img src="{% static "img/medic" %}" alt=""><span></span></a>
            <a href="" class="featured_bttn"> <img src="{% static "img/safe" %}" alt=""><span></span></a>


          </div>
        </div>

      </div>
      <div class="footer">
        <div class="footer-header">Civic Tech Hub</div>
        <div class="">

        </div>
      </div>

    </body>
    <!-- <script type="text/javascript" src="{% static "js/css.js" %}"></script> -->
    </html>
