{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% include "homepage/head.html" %}
  </head>
  <body>
    <div class="container-fluid ">
      <div class="d-flex justify-content-between" id="navbar">
        {% include "homepage/navbar.html" %}
      </div>

      <div class="flex-xl-column justify-content-center">
        <!-- <div class="hero_container"> -->
          <div class="hero_content flex-xl-column">
            <div class="hero_top ">

              <div class="subheadline flex-xl-column mt-5">

                <div class="head_bold mb-5 ml-5">
                  Together we can <br>survive this crisis
                </div>
                {% include "homepage/search_bar.html" %}
                <div class="head_normal ml-5">
                  Search the largest database of projects and organizations dedicated to fighting COVID-19
                </div></div>
                <div class="">
                  ​<picture>
                      <img src="{% static "img/pandemic.svg" %}" class="hero_img img-fluid mr-5" alt="...">
                  <!-- <img src="{% static "img/pandemic.svg" %}" class="rounded mx-auto d-block" alt="pandemic"> -->
                  <!-- <img class="hero_img" src="{% static "img/pandemic.svg" %}" alt="pandemic"> -->
                </div>
              </div>
              <!-- <div class="search_bar"> -->

              <!-- </div> -->
            </div>
          <!-- </div> -->

        </div>
          {% include "homepage/footer.html" %}

  </body>
</html>
