{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% include "homepage/head_template.html" %}
</head>

<body>
  <div class="wrapper">
    <div class="navbar" id="navbar">
      {% include "homepage/navbar.html" %}
    </div>


  <div class="content">
 <!-- content goes here -->

</div>
<div class="footer">
  <div class="footer-header">Civic Tech Hub</div>
  <div class="">

  </div>
</div>

</body>
<!-- <script type="text/javascript" src="{% static "js/css.js" %}"></script> -->
</html>
